h1{
    color: rgb(14, 2, 2);
    background: #51c43d;
    text-align: center;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

h2{
    color: rgb(69, 11, 124);
    background: #ed9292;
    text-align: center;
}